@charset "utf-8";

/*
	main wrapper
*/
body {
	background-color:#000;
	-webkit-text-size-adjust: 100%;
	-ms-content-zooming:none;
	position: device-fixed;
}
#wrapper {
	width: 800px;
	/*height: 480px;*/
	margin: 0 auto;
}

/*
	header
*/
#header {
	width:800px;
	height:28px;
	background:#000;
	border:solid 1px #03cdff;
}
#header h1 {
	font-size:20px;
	text-align:center;
	color:#03cdff;
}
/*
	menu link
*/
#menu ul {

}

#menu ul li {

}

#fps {
   position: absolute;
   margin-top: 0px;
   margin-left: 12px;
   z-index: 1;
   color: yellow;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px fantasy;
}

/*
	game canvas
*/
#gameCanvas {
	margin:0 auto;
	width:640px;
	height:480px;
}

#ExplainBox {
	width:800px;
	background:#000;
	border:solid 1px #03cdff;
}

#ExplainBox p {
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	color:#03cdff;
	font-size:15px;
	line-height:1.5;
}

/*
	footer
*/
#footer {
	width:640px;
	height:30px;
	margin-left:80px;
	background: #ccc;
}

#footer p {
	line-height:1.0;
	padding:9px 0 9px 0;
	font-size:12px;
	color:#555;
	text-align:center;
}

/*
	advertisement
*/
#ad {
	width:640px;
	height:50px;
	margin-left:80px;
	background:#aaa;
}

#ad p {
	line-height:1.0;
	padding:11px 0 11px 0;
	color:#555;
	font-size:300%;
	text-align:center;
}
/*
	728px * 90pxã®adsense
*/
.adCenter728 {
	margin:10px auto;
	width:728px;
}

/*
	120px * 600pxã®adsense
*/
.adCenter120 {
	margin:10px auto;
	width:120px;
}

/*
	336px * 228pxã®adsense
*/
.adCenter336 {
	margin: 0px auto;
	width:336px;
}


